body
{
    margin-top: 30px;
}

.container
{
    max-width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
 
.img
{
    float: left;
    margin-bottom: -6px;
    margin-left: -2px;
}

.table1-intro
{
    float: left;
    font-size: 20px;
    padding: 0 90px;
}

.table1
{
    border: 2px solid rgb(160, 149, 0);
    background-color: #7e7e7e1a;
    display: flow-root;  

}

.table1 .table1-intro h1
{
    font-size: 55px;
    margin-top: 30px;
}

.star-rating input
{
    display: none;
}

.star-rating label
{
    display: inline-block;
    width: 20px;
    position:relative;
    cursor: pointer;
    padding: 10px;
    color:rgb(134, 134, 134);
}

.star-rating label:before
{
    content: "\2605";
    position: absolute;
    font-size: 50px;
    display: inline-block;
    top: 0px;
    left: 0px;
}

.star-rating label:after
{
    content: "\2605";
    position: absolute;
    font-size: 50px;
    display: inline-block;
    top: 0px;
    left: 0px;
    color: yellow;
    opacity: 0;
}

.star-rating label:hover::after
{
    opacity: 1;
}
@media(max-width:1245px)
{
    .table1-intro
    {
        padding: 0;
        float: right;
    }

    
}
@media(max-width:1010px)
{
    .img
    {
        float:none;
        margin: 0 13%;
    }

    .table1-intro
    {
        float:none;
        margin: 0 13%;
        padding: 0 0 20px 0;
    }

    .star-rating 
    {
        float: right;
        margin-top: -130px;
    }
    
}

.table2,
.table3,
.table4
{
    width: 33.3333%;
    float: left;
}

.back
{
    background-color: #7e7e7e1a;
    overflow: hidden;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px solid rgb(160, 149, 0);
    padding: 20px;
}
@media(max-width:1010px)
{
    .table2,
    .table3,
    .table4
    {
        display: table;
        margin: 10px 20%;
        width: auto;
        float: none;
    }
}
@me
{tr:nth-child(even) {background-color: #f2f2f2;}